<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resume - Personal Info</h1>

<div class="row">

   
      
     <!-- .resume-left -->
    <div class="col-md-6">
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Experience</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <!-- .attributes -->
        <ul class="attributes">
                <li class="first">
                        <h5>Research Assistant & Marketer <span class="duration"><i class="fa fa-calendar color"></i> 2017.12 - now</span></h5>
                        <h6><span class="fa fa-briefcase"></span> Sejong Telecom Inc.</h6>
                        <p>Assisting Research Team of Prof. Daeyeol Lee(Yale Univ.) at NEUROGAZER Inc. Marketing Brain service for children in Korea.</p>
                    </li>
                    <li >
                        <h5>New Business Developer <span class="duration"><i class="fa fa-calendar color"></i> 2016.3 - 2017.11</span></h5>
                        <h6><span class="fa fa-briefcase"></span> Sejong Telecom Inc.</h6>
                        <p>Developing MVNO, AI, CCTV, Proposal 4th MNO at Korea ...</p>
                    </li>
                    <li>
                        <h5>PhD Researcher <span class="duration"><i class="fa fa-calendar color"></i> 2011.2 - 2015.8</span></h5>
                        <h6><span class="fa fa-briefcase"></span> Korea University</h6>
                        <p>Researching on cognitive perception on human visual cortex...</p>
                    </li>
                    

        </ul>
        <!-- /.attributes -->
        <br>

        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <!-- .attributes -->
        <ul class="attributes">
                <li class="first">
                        <h5>PhD candidate of Brain and Cognitive Engineering <span class="duration"><i class="fa fa-calendar color"></i> 2013.8 - 2015.8</span></h5>
                        <h6><span class="fa fa-book"></span> Korea University</h6>
                        <p>Specialized in EEG, fMRI, and fNIRS in human vision area.</p>
                    </li>
                    <li>
                        <h5>Master of Brain and Cognitive Engineering<span class="duration"><i class="fa fa-calendar color"></i> 2011.2 - 2013.8</span></h5>
                        <h6><span class="fa fa-book"></span> Korea University</h6>
                        <p>Specialized in fMRI study in visual perception area.</p>
                    </li>
        </ul>
        <!-- /.attributes -->
        <br>

          <!-- .title_content -->
          <div class="title_content">
                <div class="text_content">Publications and Conference</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->
    
            <!-- .attributes -->
            <ul class="attributes">
                <li class="first">
                    <h5>Organization for Human Brain Mapping <span class="duration"><i class="fa fa-calendar color"></i> 2014.06</span></h5>
                    <h6><span class="fa fa-trophy"></span> Specialized in vision perception</h6>
                    <p>J. Mehnert, H. Shen, S.-W. Lee, H. Boyaci, K.-R. Muller, and D. Kersten, Event-Related Desynchronzation in Response to Surface Lightness Change. </p>
                </li>
                <li>
                    <h5>Vision Sciences Society, Tradewinds Island Resorts St. Pete Beach, Florida, USA <span class="duration"><i class="fa fa-calendar color"></i> 2014.05</span></h5>
                    <h6><span class="fa fa-trophy"></span> Specialized in vision perception</h6>
                    <p>H. Shen, D. Mannion, S.-W. Lee, and D. Kersten, Accuracy in Localising the Centre of a Circle.</p>
                </li>
                <li>
                        <h5>Brain and AI Symposium, High1 Resort, Korea <span class="duration"><i class="fa fa-calendar color"></i> 2014.02</span></h5>
                        <h6><span class="fa fa-trophy"></span> Human internal noise</h6>
                        <p>H. Shen, D. Mannion, D. Kersten, and S.-W. Lee, Effect of Centroid Estimation on Calculation Efficiency and Equivalent Noise.</p>
                </li>
                <li>
                        <h5>Vision sciences Society, Naples, Florida, USA <span class="duration"><i class="fa fa-calendar color"></i> 2013.05</span></h5>
                        <h6><span class="fa fa-trophy"></span> Specialized in fMRI in visual cortex</h6>
                        <p>H. Shen, D. Mannion, S.-W. Lee, H. Boyaci, F. Fang, and D. Kersten, Effect of Smooth Shape on Lightness Processing in Human Visual Cortex.</p>
                </li>
                <li>
                        <h5>Brain and AI Symposium, High1 Resort, Korea <span class="duration"><i class="fa fa-calendar color"></i> 2013.02</span></h5>
                        <h6><span class="fa fa-trophy"></span> Specialized in fMRI in visual cortex</h6>
                        <p>H. Shen, D. Mannion, D. Kersten, and S.-W. Lee, Does Neural Activity in Early Visual Areas Show a Similar Modulation by 3D Shape?</p>
                </li>
                <li>
                        <h5>The 12th China-Japan-Korea Joint Workshop on Neurobiology and Neuroinformatics(NBNI), Korea University, Seoul, Korea <span class="duration"><i class="fa fa-calendar color"></i> 2012.11</span></h5>
                        <h6><span class="fa fa-trophy"></span> Specialized in fMRI in visual cortex</h6>
                        <p>H. Shen, D. Mannion, D. Kersten, and S.-W. Lee, Effect of Object Contours on Lightness Processing in Human Visual Cortex.</p>
                </li>
                <li>
                        <h5>The 4th International Symposium on Brain and Cognitive Engineering, Korea University, Korea <span class="duration"><i class="fa fa-calendar color"></i> 2012.05</span></h5>
                        <h6><span class="fa fa-trophy"></span> Specialized in fMRI in visual cortex</h6>
                        <p>H. Shen, D. Kersten, and S.-W. Lee, Lightness Perception Changes by Object Contour.</p>
                </li>
                <li>
                        <h5>Brain and AI Symposium, Deogyusan Resort, Korea <span class="duration"><i class="fa fa-calendar color"></i> 2012.02</span></h5>
                        <h6><span class="fa fa-trophy"></span> Specialized in vision perception</h6>
                        <p>H. Shen, D. Kersten, and S.-W. Lee, Context Effects in Luminance Judgments of Complex Objects</p>
                </li>
            </ul>
            <!-- /.attributes -->
            <br>




          <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Awards</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Graphic &amp; Art Direction <span class="duration"><i class="fa fa-calendar color"></i> 2013 - 2014</span></h5>
                <h6><span class="fa fa-trophy"></span> Name of Institute</h6>
                <p>Emi Phasellus congue auctor risuspon, eget males. Pellentes que un imperdiet, odio quis orn sollicitud. Sed vitae lectus elementum mauris.</p>
            </li>
            <li>
                <h5>Design &amp; Art Direction <span class="duration"><i class="fa fa-calendar color"></i> 2012 - 2013</span></h5>
                <h6><span class="fa fa-trophy"></span> Name of Institute</h6>
                <p>Emi Phasellus congue auctor risuspon, eget males. Pellentes que un imperdiet, odio quis orn sollicitud. Sed vitae lectus elementum mauris.</p>
            </li>

        </ul>
        <!-- /.attributes -->
        <br>

    </div>
    <!-- /.resume-left -->

    <!-- .resume-right -->
    <div class="col-md-6 resume-left">

      <!-- .title_content -->
      <div class="title_content" style="float: none;">
            <div class="text_content">Software skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>MATLAB</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>

            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>Python</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>LATEX</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>FreeSurfer</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                    <div class="skillbar-title"><span>Unity 3D</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">60%</div>
                </div>
                <!-- /.skillbar -->
                <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="50%">
                    <div class="skillbar-title"><span>Adobe Illustrator/Photoshop</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">50%</div>
                </div>
                <!-- /.skillbar -->
                    <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="50%">
                    <div class="skillbar-title"><span>GoldenWave</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">50%</div>
                </div>
                <!-- /.skillbar -->
        </div>


        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">OS Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Mac OS</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Windows</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>Ubuntu</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->

            <!-- /.skillbar -->
        </div>


        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Office Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>MS Excel</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title"><span>MS Word</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title"><span>Powerpoint</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->

		</div>


        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Hardware Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>fMRI(Siemens 3T Trio)</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title"><span>EEG</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title"><span>fMRI simulator(SimFix, MoTrek)</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title"><span>Travelling</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
        </div>


        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Language Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>English</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title"><span>Chinese</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title"><span>Korean</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
        </div>


        <!-- .title_content -->
        <div class="title_content" style="float: none;">
                <div class="text_content">Hobbies Skills</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->
    
            <div class="skills">
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="75%">
                    <div class="skillbar-title"><span>Pattern recognition and Machine learning</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">75%</div>
                </div>
                <!-- /.skillbar -->
    
                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="60%">
                    <div class="skillbar-title"><span>Cognitive Neurocience</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">60%</div>
                </div>
                <!-- /.skillbar -->
    
                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="80%">
                    <div class="skillbar-title"><span>Tennis</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">80%</div>
                </div>
                <!-- /.skillbar -->
                
                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="95%">
                        <div class="skillbar-title"><span>Speed Skating</span></div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">95%</div>
                    </div>
                    <!-- /.skillbar -->
                    
                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="80%">
                        <div class="skillbar-title"><span>Cooking(Chinese, Korean)</span></div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">80%</div>
                    </div>
                    <!-- /.skillbar -->

                    <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="95%">
                        <div class="skillbar-title"><span>DSLR Phtography</span></div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">95%</div>
                    </div>
                    <!-- /.skillbar -->
                    
            </div>
    
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">My Resume</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <!-- .download_resume -->
        <a class="download" style="margin:0;float: left;" href="#">
            <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
        </a>
        <!-- /.download_resume -->

    </div>
     <!-- /.resume-right -->
</div>

<div style="clear: both"></div>


<!-- client reference -->
<div class="row">
<div class="col-md-12">

<div class="reference clearfix">

         <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Client reference</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->


        <ul>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“Many desktop publishing packages and web page editors now use Lorem Ipsum as their default will model text, and a search for 'lorem ipsum' hope is uncover many web sites still”</p>
                <span>John Doe, UX Designer</span>
            </li>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“very nice colleague she always helped me out if i didnt know something editors now use Lorem Ipsum as their default”</p>
                <span>Leia Calvi, UX Designer</span>
            </li>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“old colleague and now close friend, she is really sweet and helpfull packages and web page editors now use Lorem Ipsum as their default will model text”</p>
                <span>Maria Callas, UX Designer</span>
            </li>
        </ul>
</div>
</div>


<div style="clear: both"></div>
</div>

</div>
<!-- End .resume -->
